* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 160px;
  background-color: limegreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.site-name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-left: 100px;
}

.links {
  width: 1000px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.intro-content {
  max-width: 1400px;
  margin: 100px auto 50px auto;
  background-color: teal;
}
.intro-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 75px;
  padding-top: 20px;
}
.intro-content p {
  width: 425px;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 75px;
  padding-bottom: 20px;
}

#app {
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.game-holder {
  width: 400px;
  margin-bottom: 50px;
  border-bottom: solid 1px #000;
}

h4 {
  width: 400px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.brief-rating {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
}

.brief-des {
  margin-bottom: 15px;
  margin-top: 10px;
}

footer {
  height: 150px;
  background-color: limegreen;
  display: flex;
  align-items: center;
}
footer .footer-container {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer-container .footer-name {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}
footer .footer-container .contact {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}